<!DOCTYPE html>
<html>
  <head>
    <title>Hello, Welcome to LadMibs.</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Welcome to LadMibs</h1>
    <p>Please fill in the forms:</p>
    <form action="/MadLibs" method="post">

        <label for="verb">Verb</label>
        <input id="verb" name="verb" type="text">

        <label for="noun">Noun</label>
        <input id="noun" name="noun" type="text">
        
        <label for="adj">Adjective</label>
        <input id="adj" name="adj" type="text">
        
        <label for="pNoun">Plural Noun</label>
        <input id="pNoun" name="pNoun" type="text">

        <label for="game">Game</label>
        <input id="game" name="game" type="text">

        <label for="verbing">Verb ending in ing</label>
        <input id="verbing" name="verbing" type="text">

        <label for="plant">Plant</label>
        <input id="plant" name="plant" type="text">

        <label for="bodyPart">Part of the body</label>
        <input id="bodyPart" name="bodyPart" type="text">

        <label for="place">Place</label>
        <input id="place" name="place" type="text">

        <label for="number">Number</label>
        <input id="number" name="number" type="text">

        <button type="submit">Go!</button>

    </form>
  </body>
</html>